@import url('https://fonts.googleapis.com/css2?family=Young+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Outfit', sans-serif;
    background-color: lightpink;
    display: flex;
    justify-content: center;
    padding: 2rem;
}

.wrapper {
    max-width: 800px;
    width: 100%;
    background-color: white;
    border-radius: 16px;
    overflow: hidden;
    padding: 2rem;
}

img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

h1 {
    font-family: 'Young Serif', serif;
    font-size: 2.5rem;
    margin: 1rem 0;
    color: #222;
}

.description {
    font-size: 1rem;
    margin-bottom: 1.5rem;
    text-align: justify;
}

.preparation, .ingredients, .instructions, .nutrition {
    margin-top: 2rem;
}

.preparation {
    background-color: rgba(255, 182, 193, 0.164);
    border-radius: 10px;
    padding: 1rem;
}

.preparation h1 {
    color: rgb(253, 64, 96);
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.preparation ul {
    padding-left: 1.5rem;
}

.ingredients h1,
.instructions h1,
.nutrition h1 {
    color: saddlebrown;
    font-size: 2rem;
    margin-bottom: 1rem;
}

.ingredients ul,
.instructions ol {
    padding-left: 1.5rem;
    line-height: 1.8;
    font-size: 1rem;
}

.nutrition p {
    margin-bottom: 1rem;
    font-size: 1rem;
    text-align: justify;
}

table {
    width: 100%;
    border-collapse: collapse;
    font-size: 1rem;
}

td {
    padding: 0.5rem;
    border-bottom: 1px solid #ccc;
}

.valor {
    color: saddlebrown;
    font-weight: bold;
}

@media (max-width: 600px) {
    h1 {
    font-size: 2rem;
}

    .preparation h1,
    .ingredients h1,
    .instructions h1,
    .nutrition h1 {
    font-size: 1.5rem;
}

    .description,
    .preparation ul,
    .ingredients ul,
    .instructions ol,
    .nutrition p,
    table {
    font-size: 0.95rem;
}

    .wrapper {
    padding: 1rem;
}
}